Need to do the following for the code to run:

Have Jupyter Notebook with Python3 installed.

Download the Iris dataset from the internet and sklearn

Import
(1) Panda package
(2) Matplotlib
(3) Numpy
(4) Scatterplot
(5) Histogram



