Need to do the following for the code to run:

Need to have Jupyter Notebook with Python 3.

Download the Iris dataset from the internet

Import
(1) Panda package
(2) Matplotlib
(3) Numpy
(4) Scatterplot



